<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xizhicheng.mybatis.mapper.StudentMapper">

<!--增加学生信息-->
    <insert id="addStudent" parameterType="com.xizhicheng.mybatis.entity.Student">
        INSERT INTO STUDENT(SID, NAME, AGE, BIRTHDAY) VALUES(#{sid}, #{name}, #{age}, #{birthday})
    </insert>

<!--删除学生信息-->
    <delete id="deleteStudent">
        delete from student where sid = #{sid}
    </delete>

<!--修改学生信息-->
    <update id="updateStudent" parameterType="com.xizhicheng.mybatis.entity.Student">
         update student
            set name = #{name},
                age = #{age},
                birthday = #{birthday}
         where sid = #{sid}
    </update>

    <!--批量插入学生信息-->
    <insert id="batchInsertStudent" parameterType="java.util.List">
        insert into student(sid, name, age, birthday )
        values
        <foreach collection="list" item="list" index="index" separator=",">
            (#{list.sid,jdbcType=INTEGER},
            #{list.name,jdbcType=VARCHAR},
            #{list.age,jdbcType=INTEGER},
            #{list.birthday,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>