<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xizhicheng.mybatis.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.xizhicheng.mybatis.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="findByName" resultType="com.xizhicheng.mybatis.entity.User">
        SELECT * FROM USER WHERE NAME = #{name}
    </select>

    <insert id="insert">
        INSERT INTO USER(NAME, AGE) VALUES(#{name}, #{age})
    </insert>

    <insert id="insertUser" parameterType="com.xizhicheng.mybatis.entity.User">
        INSERT INTO USER(NAME, AGE, PWD) VALUES(#{name}, #{age}, #{pwd})
    </insert>

    <select id="findById" resultType="com.xizhicheng.mybatis.entity.User">
        SELECT * FROM USER WHERE ID = #{id}
    </select>

    <select id="getUserInfoByName" resultMap="userResultMap">
        SELECT * FROM USER WHERE NAME = #{name}
    </select>
</mapper>