<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xizhicheng.mybatis.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.xizhicheng.mybatis.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
        <result property="age" column="age"/>
    </resultMap>

<!--根据用户名查询用户信息-->
    <select id="findByName" resultType="com.xizhicheng.mybatis.entity.User">
        SELECT * FROM USER WHERE NAME = #{name}
    </select>

<!--插入一条用户信息-->
    <insert id="insertUser" parameterType="com.xizhicheng.mybatis.entity.User">
        INSERT INTO USER(NAME, AGE, PWD) VALUES(#{name}, #{age}, #{pwd})
    </insert>

<!--根据ID查询用户信息-->
    <select id="findById" resultType="com.xizhicheng.mybatis.entity.User">
        SELECT * FROM USER WHERE ID = #{id}
    </select>

<!--根据用户名查询用户信息-->
    <select id="getUserInfoByName" resultMap="userResultMap">
        SELECT * FROM USER WHERE NAME = #{name}
    </select>

<!--根据ID删除用户信息-->
    <delete id="deleteUserById">
        delete from user where id = #{id}
    </delete>

<!--根据ID更新用户信息-->
    <update id="updateUserById" parameterType="com.xizhicheng.mybatis.entity.User">
        UPDATE USER
            SET AGE = #{age},
                NAME = #{name},
                PWD = #{pwd}
         WHERE ID = #{id};
    </update>

<!--批量查詢用户信息-->
    <select id="getUserInfoList" parameterType="com.xizhicheng.mybatis.dto.request.UserQueryReq" resultMap="userResultMap">
        select * from user
        where 1=1
        <if test="name != null">
            and NAME = #{name}
        </if>

        <if test="age != null">
            and age = #{age}
        </if>
    </select>

<!--批量插入用户信息-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into user (name, age, pwd)
        values
        <foreach collection="list" item="list" index="index" separator=",">
            (#{list.name,jdbcType=VARCHAR},
            #{list.age,jdbcType=INTEGER},
            #{list.pwd,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

<!--批量更新用户信息-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="items" index="index" open="" close="" separator=";">
            UPDATE access_info
            <set>
                <if test="items.name != null">
                    name = #{items.name},
                </if>
                <if test="items.age != null">
                    age = #{items.age},
                </if>
                <if test="items.pwd != null">
                    pwd = #{items.pwd},
                </if>
            </set>
            where id = #{items.id}
        </foreach>
    </update>

</mapper>